body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.footer {
    background-color: #343a40; 
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-top: auto;
}
.navbar {
    background-color: #343a40;
    padding: 0; 
}
.imagen {
    display: flex;
    width: 100%;
    max-height: 150px;
    object-fit: cover;
}